<!DOCTYPE html>
<html>
    <head><title>Insecure TODO app</title></head>
    <body>
        <nav style = "margin-bottom:20px;">
            <a href="/">Home</a> |
            <a href="/register">Register</a> |
            <a href="/login">Login</a> |
            <a href="/todo">Create Todo</a> |
            <a href="/todos">View Todos</a> |
            <a href="/debug/users">Debug Users</a> |
            <a href="/debug/todos">Debug Todos</a>
            <a href="/logout">Logout</a> |
        </nav>
        <hr>

        <h1>Welcome to the Insecure TODO App</h1>
        <p>This version of the application is intentionally vulnerable for the sake of demonstrating SQL Injection, Stored and Reflected XSS and Sensitive Data Exposure</p>
        <br>
        <p>Use the navigation links above to explore the vulnerabilities</p>
    </body>
</html>