<!DOCTYPE html>
<html>
<head>
    <title>TODO App (Secure)</title>
</head>
<body>
    <nav style="margin-bottom:20px;">
            <a href="/">Home</a> |
            <a href="/register">Register</a> |
            <a href="/login">Login</a> |
            <a href="/todo">Create Todo</a> |
            <a href="/todos">View Todos</a> |
            <!--<a href="/debug/users">Debug Users</a> |-->
            <!--(<a href="/debug/todos">Debug Todos</a> -->
            <a href="/logout">Logout</a> |
        </nav>
        <hr>
    <h1>TODO List</h1>
    <p>Welcome to the secure TODO app!</p>
</body>
</html>