<!DOCTYPE html>
<html>
    <head><title>Login</title></head>
    <body>
        <nav style="margin-bottom:20px;">
            <a href="/">Home</a> |
            <a href="/register">Register</a> |
            <a href="/login">Login</a> |
            <a href="/todo">Create Todo</a> |
            <a href="/todos">View Todos</a> |
            <a href="/debug/users">Debug Users</a> |
            <a href="/debug/todos">Debug Todos</a>
        </nav>
        <hr>
        <h1> Login (Secure)</h1>

        <form method = "POST" action="/login">
            <input type = "hidden" name="_csrf" value = "<%= csrfToken %>">
            <input name = "username" placeholder="Username">
            <input type = "password" name = "password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
        
    </body>
</html>