<!DOCTYPE html>
<html>
    <head><title>Create TODO (Insecure)</title></head>
    <body>
        <h1>Create TODO (Insecure)</h1>
        <form method = "POST" action = "/todo">
            <input name = "user_id" placeholder="User ID">
            <input name = "title" placeholder = "Title">
            <textarea name = "description" placeholder = "Description"></textarea>
            <button type = "submit">Save TODO</button>
        </form>
    </body>
</html>